@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

$primary-blue-200: hsl(193, 38%, 86%);
$primary-green-300: hsl(150, 100%, 66%);
$neutral-blue-600: hsl(217, 19%, 38%);
$neutral-blue-900: hsl(217, 19%, 24%);
$neutral-blue-950: hsl(218, 23%, 16%);

$text-color: #333;
$text-light-color: #777;
$background-color: #f5f5f5;
$white: #ffffff;
$black: #000000;

$font-size: 28px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

#root {
  background-color: $neutral-blue-950;
  min-height: 100vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $neutral-blue-900;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 30px;
  padding-block-end: 50px;
  padding-inline: 50px;
  width: 500px;
}
.container > * {
  margin-block: 15px;
}

.container h2 {
  color: $primary-green-300;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.dividor {
  color: $white;
}

.dice-container {
  background-color: $primary-green-300;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translateY(75%);
  transition: box-shadow 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}
.dice-container:hover {
  box-shadow: 0 0 35px $primary-green-300;
}

.quote {
  font-size: 28px;
  font-weight: 800;
}

@media (max-width: 450px) {
  html {
    width: 100%;
  }
  #root {
    height: 100vh;
    width: 100%;
  }
  .container {
    width: 380px;
  }
  .dividor-container {
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    width: 100%; /* or a specific width */
    height: 100px;
    .dividor {
      width: 50px; /* or % of container */
      height: auto;
    }
  }
}
